/MedvedevPyramid/obj
/MedvedevPyramid/bin
/MedvedevPyramid.BusinessLogic.UnitTest/obj
/MedvedevPyramid.BusinessLogic.UnitTest/bin

/MedvedevPyramid.BusinessLogic/obj
/MedvedevPyramid.BusinessLogic/bin
/.vs
